// button{
//     text-transform: uppercase;
//     background-color: transparent;
//     border: transparent;
//     color: var(--color-btn);
//     border: 1px solid var(--color-btn);
//     padding: 0.8rem;
//     border-radius: 5px;
//     -webkit-border-radius: 5px;
//     -moz-border-radius: 5px;
//     -ms-border-radius: 5px;
//     -o-border-radius: 5px;
// }
button:hover{cursor: pointer}
    button {
        background: transparent;
        outline: none;
        position: relative;
        border: 2px solid #08fdd8;
        padding: 15px 17px;
        overflow: hidden;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        color: #08fdd8;
}

    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      // top: 1.1em; 
      left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 400;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }

.close{
  position: absolute;
    right: 0;
    top: 0;
    margin: 36px;
    opacity: 0;
    color: white;
    &.active{
      opacity: 1;
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
}
}

@media (min-width:768px){
  .close{
    font-size: 4rem;
  }
}
@media (min-width:320px){
  .close{
    font-size: 4rem;
  }
}