.container--project{
    color: white;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    header{
        max-height: 311px;
        overflow: hidden;
        position: relative;
        height: 311px;
        opacity: 0.4;
        h2{
            position: absolute;
            top: 0;
            bottom: 0;
            color:rgb(255, 255, 255);
            font-size: 3rem;      
            display: flex;
            align-items: center;
            text-align: center;
            width: 100%;
            align-content: center;
            justify-content: center;
            opacity: 1;
        }
        img{
            width:100%;
            opacity: 0.5;
        }
    }

    .project--content{
        h2{
            font-size: 2rem;
        }
        p{
            font-weight: 100;
        }
        img{
     
        }
    
    }
}
 
@media (min-width:320px){
    .container--project{
  position: absolute;
    left: 0;
    right: 0;
    }
}

@media (min-width:1024px){
    .container--project{
        top: 0px;
        margin: auto;
    }
}