.container--about{
    color: white;
  position: relative;
 
    .about--left{
     
            h2{
              z-index: 1;       
              top: 0;
              // position: absolute;         
                span{
                    text-transform: uppercase;
                }
            }
        
            img:nth-child(1){
                position: absolute;
                z-index: 2;              
              
            }      
        }
    }
    .about--right{
    
        .about--content{
          p{
            line-height: 1.5rem;
          }
             span{
                color: #abababb8;
                letter-spacing: 0.1rem;
                font-weight: 100;
            }    
    }
}

@media screen and (min-width: 320px) {
    .container--about {
      .about--right{
        .about--content{
          p{
            font-size: 0.8rem;
          }
          button{}
        }
      }
      .about--left{
       
        h2{      
          font-size: 2.5rem;
          position: relative;      
      
        }
        img:nth-child(1){
          max-width: 234px;
          top: 124px;
          bottom: 0px;
        }
        .Blob_Shape{
          max-width: 213px;
          max-height: 230px;
      }     
      }

    }
}

@media screen and (min-width: 768px) {
  .container--about {
    display: flex;
    align-items: center;
    height:100%;
    .about--right{
      .about--content{
        p{
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
    .about--left{   
      img:nth-child(1){
        max-width: 323px;
        top: 150px;
        bottom: 0px;
      }
      .Blob_Shape {
        max-width: 250px;
        max-height: 250px;
    }
      h2{      
        font-size: 3.5rem;
      
      }
    }
  }
}




@media screen and (min-width: 1024px) {
    .container--about {
     
     
      .about--right{
        
      }
      .about--left{
        .Blob_Shape{
          max-width: 324px;
          max-height: 324px;
      }
        h2{      
          font-size: 3.2rem;
          position: absolute;
        }
      }
    }
}


