
  a{
    text-decoration: none;
  }
  .Blob_Shape{
    background-color: #0dca7b;
    position: absolute;
}

body{
    height:100vh;
    background-color: var(--bg-primary);
    margin: 0;
    font-family: latobold;
    
}
.overflowHidden{
  overflow: hidden;
}
li{
  list-style-type: none;
}