


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/utilities";

/* main/scss*/
@import "assets/scss/settings/fontsize";
@import "assets/scss/settings/colors";

@import "assets/scss/tools/functions";
@import "assets/scss/tools/mixins";
@import "assets/scss/tools/animation";
@import "assets/scss/tools/cursor";

@import "assets/scss/generic/reset";
@import "assets/scss/generic/normalize";

@import "assets/scss/elements/forms";
@import "assets/scss/elements/table";
@import "assets/scss/elements/title";

@import "assets/scss/objects/container";
@import "assets/scss/objects/grid";

@import "assets/scss/components/header--website";
@import "assets/scss/components/buttons";
@import "assets/scss/components/carousel";
@import "assets/scss/components/main--website";
@import "assets/scss/components/menu--burger";
@import "assets/scss/components/container--acceuil";
@import "assets/scss/components/container--about";
@import "assets/scss/components/container--skills";
@import "assets/scss/components/container--contact";
@import "assets/scss/components/container--project";
@import "assets/scss/components/container--work";


@import "assets/scss/trumps/clearfix";
@import "assets/scss/trumps/utilities";

#bacterium {
    position: fixed;
    top: 0;
  
    width: 50% !important;
    height: 50% !important;

}

